{%  extends 'base.html'   %}
{% load static %}
{% block content %}


<p></p> 
<p></p> 
<p></p> 
<div class="lightbox"> 
    <div class="row"> 
        <div class="col-lg-6"> 
            <img src="https://i.pinimg.com/originals/4c/98/94/4c9894a69eb39a11d04cd9d8b3370f52.png" 
            width="250" height="400"/> 
            <h1>Who are the most famous Arab painters?</h1>
            <p>The Arab-Islamic civilization is considered one of the most prominent civilizations in the history of mankind, 
                which was characterized by humanity, so its contribution was in the fields of arts in its various branches, and among these arts, the arts of rhetoric, poetry, and drawing appeared among the Arabs.

                1\ Ahmed Hegazy
                
                2 \ Adel Abdel Rahman
                
                3\ Bahgat Othman
                
                4 \ Farouk Hosni</p>
            <img src="https://i.pinimg.com/originals/07/5e/af/075eafe9f080af5b01f9ceb9dbf844b1.jpg"
            width="250" height="400"/>
            <h1>Robert Duano</h1>
            <p>Robert Duano, French photographer, born on April 14, 1912 AD, and died on April 1, 1994 AD. Photography by 
                
                Robert Doano is one of the most famous photographers in the world, and his fame is due to detailed historical photography or taking pictures of presidents and kings. He was a patient artist who captured the simplicity of daily life in Paris. He portrayed intense moments of joy in everyone. He knows how to combine tenderness and nostalgia with something of Humor and sarcasm or what we call human geniality.

                I love Paris and its environs, these titles you choose for the pictures are formulated by printing his title, his works write a prose poem.</p>
            
        </div>
    </div>
</div>


    {% endblock %}