{%  extends 'base.html'   %}
{% block content %}

<div class="lightbox"> 
    <div class="row"> 
        <div class="col-lg-6"> 
            <img src="https://i.pinimg.com/originals/5f/8e/96/5f8e967720bda78094372a46825580cd.jpg" 
            width="250" height="400"/>
            <h1>Paris Fashion Week</h1>
            <p>Paris Fashion Week (French: Semaine de la mode de Paris) is a series of designer shows that takes place every two years in Paris, France, with spring/summer and fall/winter events taking place each year. The dates are set
                 by the French Fashion Federation. Paris Fashion Week takes place at venues all over the city.

                In addition to the ready-to-wear shows, there are menswear and fashion shows, held semi-annually for the spring/summer and fall/winter seasons. Also every year, famous brands such as Dior, Chanel, Louis Vuitton, Givenchy, and Celine host their shows in historical venues such as the Carrousel du Louvre and the Grand Palais.</p>

            <img src="https://i.pinimg.com/originals/3c/2f/10/3c2f101bbf09efd6cb584310a1114f25.jpg"
            width="250" height="400"/> 
            <h1>The Princess of Wales Does Wedding-Guest Dressing in a Blush-Pink Archive Gown</h1>
            <p>The Princess of Wales made a rare appearance as a wedding guest in Amman, Jordan, as Crown Prince Hussein and Rajwa Al Saif tied the knot at Zahran Palace. For the occasion, Kate wore a blush-pink high-neck gown by Elie Saab, featuring delicate floral embroidery on the bodice, which she paired with statement earrings and a gold clutch. Typically, the royal turns to her go-to British house, Alexander McQueen, for formal wedding dressing, making the choice of Lebanese designer Elie Saab 
                particularly significant—and the gown marks one of the most glamorous wedding guest looks we've seen to date from Kate</p>
            
           
     
        </div>
    </div>
</div>           
    {% endblock %}
    