{%  extends 'base.html'   %}
{% load static %}
{% block content %}


<p></p> 
<p></p> 
<p></p> 
<div class="lightbox"> 
    <div class="row"> 
        <div class="col-lg-6"> 
            <img src="https://i.pinimg.com/originals/b7/28/cd/b728cdf20833186e8b44a963833af3f4.jpg" 
            width="250" height="400"/> 
            <h1>For Healthy Breakfast</h1>
            <p>(Oat Milk With Honey)</p> </br>

                ingredients</br>
                
                 1 cup quick cooking rolled oats </br>
                
                1 tbsp honey</br>
                
                 1/2 tsp vanilla essence</p>
            <img src=" https://i.pinimg.com/originals/e7/b8/ab/e7b8ab60601a40a8f55258dc8b23312e.jpg"
            width="250" height="400"/>
            <h1>Some Healthy Snacks</h1>
            <p>=Apple slices with peanut butter

                Apples are a fiber-rich fruit. Peanuts provide healthy fats, plant-based protein, and fiber — pretty much all of the filling nutrients you should look for in a snack.
                
                By combining apples with peanut butter, you’ll enjoy a crisp and creamy snack. Just look for one that only contains peanuts and salt and no sugar.
                
                =Cottage cheese and fruit
                
                
                Cottage cheese is high in filling protein, boasting 25 grams in just 1 cup.
                
                Pairing cottage cheese with fruit complements the cheese’s protein and fat content with the fruit’s fiber, resulting in a 
                sweet, creamy, and filling snack. Try it with tropical fruits such as pineapple, papaya, or watermelon.</p>
            
        </div>
    </div>
</div>


    {% endblock %}