{%  extends 'base.html'   %}
{% load static %}
{% block content %}


<p></p> 
<p></p> 
<p></p> 
<div class="lightbox"> 
    <div class="row"> 
        <div class="col-lg-6"> 
            <img src="https://i.pinimg.com/originals/90/40/a4/9040a41fdb0eacc997a993079fa8804f.jpg" 
            width="250" height="400"/> 
            <h1>Paddle tennis game</h1>
            <p>Padel is one of the promising sports that has been very popular in the Kingdom of Saudi Arabia.
    Padel or padel tennis, as some call it, is one of the racket sports, and it differs from the famous tennis, and this sport appeared for the first time in
     the late twentieth century in Mexico at the hands of a man named Enrique Corqueira, and then spread all over the world</p>
            <img src="https://i.pinimg.com/originals/55/d9/37/55d9376f4b4c801b5de6421e2ca429f8.jpg"
            width="250" height="400"/>
            <h1>Pilates (mind-body exercise)</h1>
            <p>Pilates is a type of mind-body exercise developed in the early 20th century by German physical trainer Joseph Pilates, after whom it was named. It is practiced worldwide, especially in countries
                 such as Australia, Canada, South Korea, the United States, and the United Kingdom. As of 2005, approximately 11 million people were practicing the discipline regularly, and there were 14,000 instructors in the US.
                Pilates developed in the aftermath of the late 19th-century physical culture of exercising to alleviate ill health. There is, however, only limited evidence to support the use of Pilates to alleviate problems such as lower back pain.[5] While studies have found that regular sessions improve balance, and can help muscle conditioning in healthy adults
                 (compared to doing no exercise), it has not been shown to be an effective treatment for any medical condition.</p>
            
        </div>
    </div>
</div>


    {% endblock %}

